//* Общие стили */
/* finlandica-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Finlandica';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/finlandica-v8-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

header {
    background-color: #0077cc; /* Цвет фона шапки */
    padding: 20px; /* Отступы внутри шапки */
}

nav ul {
    list-style-type: none; /* Убираем маркеры у списка */
    padding: 0; /* Убираем отступы */
    display: flex; /* Используем flexbox для расположения элементов */
    justify-content: space-around; /* Равномерное распределение элементов */
}

nav a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный текст */
}

nav a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

footer {
    background-color: #333; /* Цвет фона подвала */
    color: white; /* Цвет текста в подвале */
    text-align: center; /* Центрируем текст */
    padding: 20px; /* Отступы внутри подвала */
}
